<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-*">
    <title>Welcome!</title>
</head>

<body>
    <h1>Welcome Pyl!</h1>
    <p>
        {{ welcome_message }}
    </p>
    <p>
        {{ secret_message }}
    </p>
    <p>
        You have {{ meetings_count }} meetings.
    </p>

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings%}
        <li>
            <a href="{% url 'detail' meeting.id %}">
                {{ meeting }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>